<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- link css -->
    <link rel="stylesheet" href="css/style.css">
    <title>Vue Hello</title>
</head>
<body>

    <div id="app">
        <label for="name">Inserisci nome</label>
        <input v-model="name" id="name" type="text">

        <label for="surname">Inserisci cognome</label>
        <input v-model="surname" id="surname"  type="text">

        <button @click="saluta">Crea saluto</button>

        <h1 :class="classList">{{ saluto }}</h1>

        <img :src="srcImg" :alt="altImg">
    </div>
    
    <!-- link vue js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <!-- link js -->
    <script src="js/script.js"></script>
</body>
</html>